<!DOCTYPE html>
<html>
<head>
	<title>MyServer - Official Website</title>
	<meta name="description" content="MyServer is a revolutionary Minecraft server. You can join with the IP 'play.myserver.net'.">
	<meta name="keywords" content="MyServer, MyServer.com, Minecraft Server, Minecraft, Fun, Play, Portal, Website, Official">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/stylesheet.css">
	<script src="https://use.fontawesome.com/30155533f0.js"></script>
	<script type="text/javascript">
		function mobile() {
			var bars = document.getElementById("mnav");
			if(bars.className === "mnav") {
				bars.className += " responsive";
			} else {
				bars.className = "mnav";
			}
		}
	</script>
</head>
<body>
	<header>
		<div class="nav">
			<ul class="nav-items" id="nav-items">
				<a><li onclick="mobile()" class="icon fa fa-bars fa-2x"></li></a>
				<a href="/"><li class="h">
					<div class="overlay"></div>

					Home
				</li></a>
				<a href="/admin"><li class="h">
					Admin
				</li></a>
				<div class="log"><img alt="MyServer Logo" class="logo" src="/static/img/logo.png"></div>

				<a href="/login"><li class="h">
					Login
				</li></a>
				<a href="/logout"><li class="h">
					Log out
				</li></a>

			</ul>
			<div class="mnav" id="mnav">
				<a href="/"><li class="i">
					Home
				</li></a>
				<a href="/server"><li class="i">
					Admin
				</li></a>
				<a href="/login"><li class="i">
					Login
				</li></a>
				<a href="/logout"><li class="i">
					Log out
				</li></a>
			</div>
		</div>

		<div class="hero" id="main">
            {% block content %}
            {% endblock %}
		</div>
	</header>
	<div class="main">
		
	</div>
	<footer>
		<img alt="MyForge" src="img/logo.png">
		<p>Copyright &copy; deathowl 2020</p>
	</footer>


	<script src="https://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
	<script src="/static/js/firefly.js" type="text/javascript"></script>
	<script src="/static/js/main.js" type="text/javascript"></script>
</body>
</html>
