{% extends "base.html" %}

{% block content %}

<h1>Join</h1>
<p class="info">Join <span class="sip" data-ip="mcr.samlindev.eu" data-port="25565">
0</span> other players on <span class="ip">mcr.samlindev.eu</span></p>
<h1>Credits</h1>
<p>Powered by Vodka and hacks.</p>
<p>Built by <a href="https://deathowlsnest.com">deathowl</a> and <a href="https://github.com/samlindev">samlindev</a></p>
<script src="https://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="/static/js/pcount.js" type="text/javascript"></script>

{% endblock %}

{%block ftr%}
<footer>
  <img alt="MyForge" src="/static/img/logo.png">
  <p>Copyright &copy; deathowl 2020</p>
</footer>
{% endblock %}